<!DOCTYPE html>
<html lang="en-US">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body>
    <div ng-app="">
      <form ng-controller="NewTableCtrl" ng-submit="submitTable()">
        <input type="text" ng-model="table.title" placeholder="Title:" />
        <input
          ng-repeat="field in fields"
          type="text"
          ng-model="table.fields"
          placeholder="Field:"
        />
        <div>
          <button type="submit">Submit</button>
          <button ng-click="addFormField()">Add</button>
        </div>
        <p>{{hi}}</p>
      </form>
    </div>
    <script>
      app.controller("NewTableCtrl", function ($scope) {
        $scope.fields = [];
        $scope.table = {};

        $scope.addFormField = function () {
          $scope.fields.push({});
        };

        $scope.submitTable = function () {
          console.log($scope.table);
        };
        $scope.hi = $scope.table;
      });
    </script>
  </body>
</html>
